<!-- layout.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="lab-sidenav" fixedInViewport="true" mode="over">
    <div class="sidenav-header">
      <mat-icon class="lab-icon">science</mat-icon>
      <span class="lab-title">LabManager</span>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/members" routerLinkActive="active-link">
        <mat-icon>groups</mat-icon>
        <span>Members</span>
      </a>
      <a mat-list-item routerLink="/tools" routerLinkActive="active-link">
        <mat-icon>precision_manufacturing</mat-icon>
        <span>Tools</span>
      </a>
      <a mat-list-item routerLink="/articles" routerLinkActive="active-link">
        <mat-icon>article</mat-icon>
        <span>Articles</span>
      </a>
      <a mat-list-item routerLink="/events" routerLinkActive="active-link">
        <mat-icon>event</mat-icon>
        <span>Events</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="lab-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">LabManager</span>
      <span class="toolbar-spacer"></span>
      
      <ng-container *ngIf="isAuth(); else noUserContent">
        <button [matMenuTriggerFor]="userMenu" mat-button class="user-profile-button">
          <img [src]="user.photoURL" alt="User avatar" class="user-avatar"/>
          <span class="username">{{user.displayName}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        
        <mat-menu #userMenu="matMenu" class="user-menu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="tryLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
      
      <ng-template #noUserContent>
        <button mat-raised-button class="login-button" routerLink="/login">
          Login
        </button>
      </ng-template>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
