<mat-dialog-content [formGroup]="form" appearance="fill">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Titre" formControlName="titre" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        formControlName="datedebut"
        placeholder="Start date"
      />
      <input matEndDate formControlName="datefin" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Lieu" formControlName="lieu" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
