<!-- member-form.component.html -->
<div class="form-container">
  <div class="form-header">
    <h1 class="form-title">Create New Member</h1>
  </div>

  <div class="button-container">
    <button
      mat-flat-button
      class="create-button student-button"
      routerLink="/etudiant/create"
    >
      <mat-icon>school</mat-icon>
      New Student
    </button>
    <button
      mat-flat-button
      class="create-button teacher-button"
      routerLink="/enseignant/create"
    >
      <mat-icon>assignment_ind</mat-icon>
      New Teacher
    </button>
  </div>
</div>
